@model HabitatManagement.Models.PermitFormScreenDesignTemplateDetailModelBE

@{
    Layout = null;
}
<script src="~/js/View/formDetail.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        PermitFormFieldDetail.onInit({
            formID: @Model.FormID,
            addEditURL: '@Url.Action("EditPermitFormField", "Home")',
            deleteURL: '@Url.Action("DeletePermitFormField", "Home")',
            jqGridDataURL: '@Url.Action("GetFieldDesignerData", "Home")',
            jqGridColumnURL: '@Url.Action("GetFieldDesignerColumnNames", "Home")',
            addEditSectionURL: '@Url.Action("TemplateSection", "Home")',
            deleteSectionURL: '@Url.Action("DeleteTemplateSection", "Home")',
            getSectionListURL: '@Url.Action("TemplateSectionList", "Home")'
        });
    });
</script>
<style>
    .modal {
        position: absolute !important;
        overflow: auto !important;
    }

    .card-header {
        cursor: pointer;
    }
</style>

<div class="container-fluid">
    <div class="form-group row">
        <label class="col-sm-2 text-right col-form-label" asp-for="Design" id="lblDesign">Form Name</label>
        <div class="col-sm-7">
            @Html.TextBox("Design", Model.Design, new { @class = "form-control uppercaseTextBox", @disabled = "disabled", @maxlength = "20" })
            <span asp-validation-for="Design" class="text-danger"></span>
        </div>
        <label class="col-sm-3 text-right col-form-label" for="Active" id="lblActive" style="padding-bottom: 0px !important;">
            Active &nbsp <span>@Html.CheckBox("Active", Model.Active, new { @style = "position: relative; top: 2px;", @disabled = "disabled" })</span>
        </label>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 text-right col-form-label" asp-for="Description" id="lblDescription">Description</label>
        <div class="col-sm-10">
            @Html.TextBox("Description", Model.Description, new { @class = "form-control", @disabled = "disabled", @maxlength = "60" })
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>

<div id="accordion" class="col-lg-12">
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <label style="margin:0;"><h4>Section</h4></label>
            <div style="float: right; display: inline;margin-top: -3px;">
                <button type="button" class="btn btn-primary x1" id="AddSection" value="Add" title="Add"><span class="glyphicons glyphicons-plus"></span></button>
                <button type="button" class="btn btn-primary x1" id="EditSection" value="Edit" title="Edit"><span class="glyphicons glyphicons-edit"></span></button>
                <button type="button" class="btn btn-primary x1" id="DeleteSection" value="Delete" title="Delete"><span class="glyphicons glyphicons-bin"></span></button>
            </div>
        </div>
        <div id="collapseOne" class="collapse show">
            <div class="card-body">
                <div class="col-xs-12" id="dvSectionDetail">
                    @{
                        await Html.RenderPartialAsync("TemplateSectionList");
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
            <label style="margin:0;"><h4>Field</h4></label>
            <div style="float: right; display: inline;margin-top: -3px;">
                <button type="button" class="btn btn-primary x1" id="Add" value="Add" title="Add"><span class="glyphicons glyphicons-plus"></span></button>
                <button type="button" class="btn btn-primary x1" id="Edit" value="Edit" title="Edit"><span class="glyphicons glyphicons-edit"></span></button>
                <button type="button" class="btn btn-primary x1" id="Delete" value="Delete" title="Delete"><span class="glyphicons glyphicons-bin"></span></button>
            </div>
        </div>
        <div id="collapseTwo" class="collapse show">
            <div class="card-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jqgrid-table">
                        <table id="tblFieldDesigner"></table>
                        <div id="pagerFieldDesigner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

